body{
	font-family: K2D;
	margin:10px;
	/*line-height:1.0;*/
}

.dark-mode {
	background-color: black;
	color: white;
}

header{
	text-align:center;
	/*margin-bottom:20px;*/
}

h1{

}

h2{

}

p{
	/*text-align:center;*/
}

ul {
	margin-left: auto;
	margin-right: auto;
}

li {
	margin-left: auto;
	margin-right: auto;
}

div.a {
	text-align: center;
}

div.b {
	text-align: left;
}

div.c {
	text-align: right;
}

div.d {
	text-align: justify;
}

.center{
	/*position: absolute;
		top: 50%;
	width: 100%;*/
	text-align: center;
}

.mycontainer {
	display: flex;
}
.mycontainer > div {
	width:33%;
}

div.relative {
  position: relative;
  left: 0px;
}

td{
	border: 0.5px solid #AD46FF;
	font-size:24px;
	font-weight: bold;
}

nav a{
	margin-right:15px;
	text-decoration:none;
	color:#AD46FF;
	align-items:center;
}

a{
	text-decoration:none;
	color:#AD46FF;
}

section{
	margin-top:5px;
	
}

footer{
	margin-top:100px;
	font-size:14px;
}

input,select,button{
	display:block;
	margin-top:10px;
	margin-bottom:10px;
	padding:8px;
}

/* กำหนด variables */
:root {
	--bg: #ffffff;
	--text: #111111;
	--card: #f5f5f5;
}

[data-theme="dark"] {
	--bg: #111111;
	--text: #ffffff;
	--card: #1e1e1e;
}

body {
	background: var(--bg);
	color: var(--text);
}